<!DOCTYPE html>
<html>
<head>
	<title>Library</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body style="background:rgb(242, 241, 239)">
	
	<div class="header" style=" width: 100%;height: auto;background: rgb(1, 50, 67);">
		<h1 class="text-center" style="font-size: 43px; color: rgb(228, 241, 254);font-family: 'Ubuntu';">Library User Data</h1>
	</div>
	
	<div style="text-align: center;"><a href="/add"><button class="btn btn-sm btn-success" style="height: 40px;width: 80px"><b>Add user</b></button></a></div>
	<footer style="position: absolute;top:100%; width: 100%;height: auto;background: rgb(1, 50, 67);"><p class="text-center" style="padding-top: 3px;font-size: 17px; color: rgb(228, 241, 254)">&copy 2019 All rights researved</p></footer>
</body>
</html>