<!DOCTYPE html>
<html>
<head>
	<title>Library</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style type="text/css">
    label {
  display: inline-block;
  width: 140px;
  text-align: right;
}​
  </style>
</head>
<body style="background:rgb(242, 241, 239)">
	
	<div class="header" style="max-width: 100%; min-width: 270px;height: auto;background: rgb(1, 50, 67);">
		<h1 class="text-center" style="font-size: 43px; color: rgb(228, 241, 254);font-family: 'Ubuntu';">Library User Data</h1>
	</div>
	<br>	<footer style="position: absolute;top:100%; width: 100%;height: auto;background: rgb(1, 50, 67);"><p class="text-center" style="padding-top: 3px;font-size: 17px; color: rgb(228, 241, 254)">&copy 2019 All rights researved</p></footer>
  <div class="container" style="background: rgba(0,0,0,0.1);text-align: center;min-width: 270px;height: auto">
  
  
    <form method="POST" action=""><br>
    <label for="name" style="padding-right: 5%">Name :</label><input id="name" type="text" name="name" required><br><br>
    <label for="roll" style="padding-right: 2.3%">Student ID :</label><input id="roll" type="text" name="roll" required ><br><br>
    <label for="books" style="padding-right: 1.2%">Books taken :</label><input  id="books" type="number" name="books" required><br><br>
    <input class="btn btn-md btn-info" type="submit" ><br>.
  </form>
  </div>


</body>
</html>